<section class="joinnow">
    <div class="login col-lg-4 m-auto shadow-lg">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Pour recevoir de nouveaux cours et des newsletters</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary col-lg-12">Envoyez</button>
        </form>
    </div>
</section>
