<section class = "about container">
    <h1 class="text-center mb-5">Nous connaître</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem blanditiis dicta perspiciatis laborum, eum amet deleniti debitis ducimus inventore architecto repudiandae, neque omnis explicabo repellat numquam, commodi obcaecati corporis assumenda.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem blanditiis dicta perspiciatis laborum, eum amet deleniti debitis ducimus inventore architecto repudiandae, neque omnis explicabo repellat numquam, commodi obcaecati corporis assumenda.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem blanditiis dicta perspiciatis laborum, eum amet deleniti debitis ducimus inventore architecto repudiandae, neque omnis explicabo repellat numquam, commodi obcaecati corporis assumenda.</p>
    
    <p> ipsum dolor sit amet consectetur adipisicing elit. Rem blanditiis dicta perspiciatis laborum, eum amet deleniti debitis ducimus inventore architecto repudiandae, neque omnis explicabo repellat numquam, commodi obcaecati corporis assumenda. ipsum dolor sit amet consectetur adipisicing elit. Rem blanditiis dicta perspiciatis laborum, eum amet deleniti debitis ducimus inventore architecto repudiandae, neque omnis explicabo repellat numquam, commodi obcaecati corporis assumenda.
    </p>
    <br>

    <div class="follow text-center">
        <h4>Retrouvez-nous sur les réseaux sociaux</h4>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Youtube</a>
    </div>




</section>
